<div class="container">
  <p class="title">會員列表</p>
  <div class="mb-3">
    <input type="text" [(ngModel)]="Keyword">
    <button type="button" class="btn btn-primary btn-sm" (click)="GET()">搜尋</button>

    <button mat-button class="btn btn-primary btn-sm float-right" (click)="Add()">新增 ✚</button>
    <div class="clearfix"></div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>會員編號</th>
        <th>姓</th>
        <th>名</th>
        <th>建立時間</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itme of employees">
        <td>
          <button mat-button (click)="Del(itme.Id)">✖</button>
          <button mat-button (click)="Edit(itme.Id)">✎</button>
        </td>
        <td>{{itme.Id}}</td>
        <td>{{itme.LastName}}</td>
        <td>{{itme.FirstName}}</td>
        <td>{{itme.CreatedAt| date:"yyyy/MM/dd HH:mm:ss"}}</td>
      </tr>
    </tbody>
  </table>
</div>
