<div class="container">
  <p class="title">活動報名</p>
  <form action="">
    <div class="form-group">
      <label for="Id">會員編號</label>
      <select class="form-control" name="Id" id="Id" [(ngModel)]="ActivityUser.UserId">
        <option value="{{Useritem.Id}}" *ngFor="let Useritem of UserList">
          {{Useritem.Id}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="UserName">會員名稱</label>
      <select class="form-control" name="UserName" id="UserName" [(ngModel)]="ActivityUser.UserId">
          <option value="{{Useritem.Id}}" *ngFor="let Useritem of UserList">
            {{Useritem.LastName}}{{Useritem.FirstName}}
          </option>
        </select>
    </div>
    <div class="form-group">
      <label for="Activity">活動</label>
      <select class="form-control" name="Activity" id="Activity" [(ngModel)]="ActivityUser.ActivityId">
        <option value="{{item.Id}}" *ngFor="let item of Item">
          {{item.Name}}
        </option>
      </select>
    </div>
    <button (click)="Add()" class="btn btn-success">新增</button>
  </form>
</div>
