<div class="container">
  <p class="title">活動報名列表</p>
  <div class="mb-3">
    <button mat-button class="btn btn-primary btn-sm float-right" (click)="Add()">新增 ✚</button>
    <div class="clearfix"></div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>會員編號</th>
        <th>會員名稱</th>
        <th>活動</th>
        <th>建立時間</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itme of ActivityList; let recordIndex = index;">
        <ng-container *ngIf="!!itme.User">
          <!-- <td>
          <button mat-button (click)="Del(itme.Id)">✖</button>
          <button mat-button (click)="Edit(itme.Id)">✎</button>
        </td> -->
          <td>{{recordIndex+1}}</td>
          <td>{{itme.User.Id}}</td>
          <td>{{itme.User.LastName}}{{itme.User.FirstName}}</td>
          <td>{{itme.Activity.Name}}</td>
          <td>{{itme.CreatedAt| date:"yyyy/MM/dd HH:mm:ss"}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
