<div class="container">
  <p class="title">管理員登入資訊</p>
  <div class="mb-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>AdminId</th>
          <th>IsSuccess</th>
          <th>CreatedAt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itme of AdminLogDate">
          <td>{{itme.Id}}</td>
          <td>{{itme.AdminId}}</td>
          <td>
            <span *ngIf="itme.IsSuccess">成功</span>
            <span *ngIf="!itme.IsSuccess">失敗</span>
          </td>
          <td>{{itme.CreatedAt| date:"yyyy/MM/dd HH:mm:ss"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
