<div class="container">
  <p class="title">會員新增</p>
  <form (ngSubmit)="Add()">
    <div class="form-group">
      <label for="LastName">姓</label>
      <input type="text" class="form-control" name="LastName" [(ngModel)]="AddFormSubmit.LastName"
        placeholder="LastName" required>
    </div>
    <div class="form-group">
      <label for="FirstName">名</label>
      <input type="text" class="form-control" name="FirstName" [(ngModel)]="AddFormSubmit.FirstName"
        placeholder="FirstName" required>
    </div>
    <button type="submit" class="btn btn-success">新增</button>
  </form>
</div>
