<div class="container">
  <p class="title">會員編輯</p>
  <div class="form-group">
    <label for="Id">Id</label>
    <input type="text" class="form-control" name="Id" [(ngModel)]="EditFS.Id" required disabled>
  </div>
  <div class="form-group">
    <label for="LastName">LastName</label>
    <input type="text" class="form-control" name="LastName" [(ngModel)]="EditFS.LastName" placeholder="LastName"
      required>
  </div>
  <div class="form-group">
    <label for="FirstName">FirstName</label>
    <input type="text" class="form-control" name="FirstName" [(ngModel)]="EditFS.FirstName" placeholder="FirstName"
      required>
  </div>
  <div class="form-group">
    <label for="CreatedAt">CreatedAt</label>
    <input type="text" class="form-control" name="CreatedAt" [(ngModel)]="EditFS.CreatedAt" placeholder="CreatedAt"
      required disabled>
  </div>
  <button (click)="Edit(EditFS.Id)" class="btn btn-success">編輯</button>
</div>
