<div id="wrapper">
  <div class="container">
    <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <div class="form-signin">
        <div class="row">
          <div class="col-sm-12">
            <input type="text" [(ngModel)]="LoginDate.Account" (keyup.enter)="login()" placeholder="Account" required>
          </div>
        </div>
        <div class="row mt-10">
          <div class="col-sm-12">
            <input type="password" [(ngModel)]="LoginDate.Password" (keyup.enter)="login()" placeholder="Password"
              required>
          </div>
        </div>
        <div class="row mt-10">
          <p class="col-sm-12">{{VerifyCodeMsg}}</p>
          <div class="col-sm-6 mb-10">
            <input type="text" [(ngModel)]="vcode" (keyup.enter)="check()" placeholder="請輸入驗證碼">
          </div>
          <div class="col-sm-6">
            <app-verify-code #verifyCode></app-verify-code>
          </div>
        </div>
        <div class="row mt-30 mb-10">
          <div class="col-sm-12">
            <button type="button" class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()">登入</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
