<nav>
  <ul class="nav justify-content-end" *ngIf="IsLogin">
    <li class="list-item">
      <a routerLink="/adminLogRecord" class="nav-link">登入紀錄</a>
    </li>
    <li class="list-item">
      <a routerLink="/list" class="nav-link">會員列表</a>
    </li>
    <li>
      <a routerLink="/activityList" class="nav-link">活動報名列表</a>
    </li>
    <li class="list-item">
        <a href="" class="nav-link" (click)="logout()">登出</a>
    </li>
  </ul>

  <ul class="nav justify-content-end" *ngIf="!IsLogin">
    <li class="nav-item">
      <a href="" class="nav-link" routerLink="/login">登入</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
